/.CFUserTextEncoding
/.DS_Store
/.Trash
/.android
/.aws
/.cache
/.codestream
/.config
/.docker
/.emulator_console_auth_token
/.forceCode
/.git_template
/.gitconfig
/.gitflow_export
/.gitignore_global
/.gitkraken
/.gradle
/.hgignore_global
/.idlerc
/.ipython
/.lemminx
/.lesshst
/.local
/.mysql_history
/.netrc
/.ngrok2
/.npm
/.openvpn-connect.json
/.python_history
/.redhat
/.sf
/.sfdx
/.software
/.ssh
/.swiftpm
/.venv
/.viminfo
/.vscode
/.yarnrc
/.zsh_history
/.zsh_sessions
/AWSCLIV2.pkg
/AndroidStudioProjects
/Applications
/CompanyDocuments
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Postman
/Public
/PycharmProjects
/abhishek_accessKeys.csv
/apps
/automation-documents
/awsconf.txt
/choices.xml
/client_secret_764626540739-o6tdvequfb4md3c7sdr04ivgvsk23ph4.apps.googleusercontent.com.json
/code-folder
/decrypted.pdf
/devtools-override
/newrelic_agent.log
/ngrok.sh
/out2.csv
/privateKeys
/python-script-output.txt
/response.json
/rsp.txt
/scripts
/stratavar
/OneDrive